@import 'variables';

.card-course-item{
    margin: 20px;
}
.card-body{
    margin: 0 auto;
    text-align: center;
}
.div-ds{
    margin: 0 auto;
    text-align: center;
}
.div-d{
    margin: 20px;
}